.gdbinit
all-tree.def
as
auto-host.h
bconfig.h
bversion.h
cc1
collect-ld
config.h
configargs.h
cpp
cs-bconfig.h
cs-config.h
cstamp-h
dsymutil
gcc-driver-name.h
Make-hooks
multilib.h
nm
omp-device-properties.h
option-includes.mk
optionlist
options-save.cc
options.cc
options.h
pass-instances.def
plugin-version.h
s-alltree
s-bversion
s-mlib
s-omp-device-properties-h
s-options
s-options-h
s-specs
s-version
specs.h
version.h

build/genversion