*.Po
*.Plo
*.lo
*.la
*.lai
*.hex
*.lst
*.o
*.cod
*.tmp
*.a
*.dep
*.asm
*.rel
*.sym
*.rul
*.lib
.stamp

device/**/Makefile
sdas/**/Makefile
support/**/Makefile

Makefile
Makefile.depcc
Makefile.depcxx
Makefile.common

config.log
check.asm
ports.all
ports.build
config.status
stamp-h1
pics.supported
main.mk
sdccconf.h